# Dependency directories
**/node_modules/
node_modules/

# Production builds
**/dist/
dist/
frontend/dist/

# Local environment files 
.env
backend/.env


# IDE and System files
.idea/
.vscode/
.DS_Store
*.suo
*.sln
*.swp
